.TopBar {
    background-color: #212121;
    color: white;
    padding: 16px;
    height: 80px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.TopBarLogo {
    width: 80px;
}
