.GraphPlot {
    width: 100%;
    background-color: black;
}

.GraphPlot * {
    color: white;
}

.GraphButton {
    margin: 1%;
    display: flex;
    justify-content: space-around;
}

.TeamInfo {
    display: flex;
    justify-content: flex-start;
}