.GraphPlot {
    width: 100%;
    background-color: black;
}

.GraphPlot * {
    color: white;
}

.AddTeamButton {
    margin: 1%;
    display: flex;
    justify-content: space-around;
}

.TeamInfo {
    display: flex;
    justify-content: flex-start;
}

.NameForm {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.TeamPaper {
    padding: 30px;
}

.PlayerButtonDiv {
    width: 50%;
    padding: 1%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.PlayerButtonDiv * {
    margin: 5px;
}

.AddTeamDiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.AddTeamButtonDiv {
    display: flex;
    justify-content: center;
    padding-top: 60px
}


.TeamsList {
    width: 100%;
    margin: 0 auto;
}

.TeamsListItem {
    background-color: blue
}

.Teams {
    width: 1920px;
    height: 962px;
    background-image: url('../../assets/images/teams.jpg')
}

.TeamsPaper {
    margin: 50px auto;
    width: 30%
}