.AddTeamButton {
    margin: 1%;
    display: flex;
    justify-content: space-around;
}

.TeamInfo {
    display: flex;
    justify-content: flex-start;
}

.NameForm {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.TeamPaper {
    padding: 30px;
}

.PlayerButtonDiv {
    width: 50%;
    padding: 1%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.PlayerButtonDiv * {
    margin: 5px;
}

.Team {
    background-image: url('../../assets/images/team.jpg');
    background-size: cover;
    height: 1090px;
    width: 1920px;
}

.TeamPaper {
    width: 30%;
    margin: 150px auto;
}