.GraphPlot {
    width: 100%;
    background-color: black;
}

.GraphPlot * {
    color: white;
}

.AddTeamButton {
    margin: 1%;
    display: flex;
    justify-content: space-around;
}

.TeamInfo {
    display: flex;
    justify-content: flex-start;
}

.NameForm {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.TeamPaper {
    padding: 30px;
}

.PlayerButtonDiv {
    width: 50%;
    padding: 1%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.PlayerButtonDiv * {
    margin: 5px;
}

.PlayerPaper {
    padding: 10px;
    margin: 60px auto;
    width: 40%;
}

.PlayerPaper > h1, .PlayerPaper > h2 {
    text-transform: uppercase;
}

.Player {
    width: 1920px;
    height: 1090px;
    background-size: cover;
    background-image: url('../../assets/images/team.jpg')
}

.PlayerFlexDiv {
    display: flex;
    flex-wrap: nowrap;
    width: 93%;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
}